.footer-columns {
  display: flex;
}
.footer-column {
 flex: 50%;
  margin:20px;
}
.header,footer{
  background-color:blue;
  padding: 10px;
}
main{
  padding:10px;
  background-color: silver;
}
.post{
  background-color: black;
  padding:20px;
    border-radius: 15px;
   margin-bottom: 20px;
  display: flex;
} 

h1, h2, h3, h4, h5 {
   font-family: "Open Sans", sans-serif;
  font-weight: 600;
 
}
p{
  font-family:"Roboto",sans-serif;
  font-weight:300;
}
a{
  font-family:
}
a{
  font-family: "open sans",sans-serif;
   font-weight: 600;
  letter-spacing:2px;
}